*.git
*.bak
*.old
*.new
*.orig
*.backup
*.hidden
*.private
*.~*

__pycache__
/.venv
/.requirements
/.serverless
/.serverless-wsgi
/node_modules

.DS_Store
Icon?
.idea
.vscode

/data

# Exclude document files generally
*.md
*.docx
*.pdf
*.txt
*.zip
*.sh

# Exclude potential downloaded files
md
docx
pdf

# Allow specific directories and files
!/docs/*
!README.md
!CONTRIBUTING.md

# Allow specific sample directory documents
!/sample/README.md
!/sample/**/*.sample.*
!/sample/**/*.md
!/sample/**/output/*.docx
!/sample/**/output/*.pdf
!/src/requirements/*.txt
