*.bak
*.backup
*.orig
*.private
*.~*

__pycache__
/.venv
/.requirements
/.serverless
/.serverless-wsgi
/node_modules

.DS_Store
Icon?
.idea
.vscode

# Exclude document files generally
*.docx
*.md
*.pdf
*.txt
*.zip
*.sh

# Exclude potential downloaded files
docx
md
pdf

# Allow specific directories and files
!/docs/*
!README.md
!CONTRIBUTING.md

# Allow specific sample directory documents
!/sample/README.md
!/sample/**/*.sample.*
!/sample/**/*.md
!/sample/**/output/*.docx
!/sample/**/output/*.pdf
!/src/requirements/*.txt
